.book__container {
  max-width: 1400px;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 500px;
}
.book__container_img {
  height: 100%;
  background-color: rgba(221, 221, 221, 0.5);
  position: relative;
  padding: 10px;
  img,
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // box-shadow: 10px 10px 15px 1px rgb(47, 47, 47);
    box-shadow: 6px 10px 15px 1px rgb(141, 141, 141);

    width: 280px;
    height: 400px;
  }
}

.book__container_info {
  text-align: start;
  padding: 50px;
  position: relative;
  p {
    margin-bottom: 5px;
    color: rgb(172, 172, 172);
  }
  .book__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    color: black;
  }
  .book__category {
    width: max-content;
    margin-bottom: 15px;
  }
  .book__author {
    margin-bottom: 20px;
  }
  .back {
    position: absolute;
    bottom: -50px;
    right: 50px;
    transition: all 1s;

    &:active {
      transform: translateX(-100px);
    }
  }
}

.book__description {
  width: 100%;
  min-height: 200px;
  border: 1px solid rgb(216, 216, 216);
  padding: 20px;
  border-radius: 10px;
  overflow-y: scroll;
}

@media (max-width: 1000px) {
  .book__container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .book__container {
    grid-template-rows: 500px 1fr;
  }

  .book__container_info {
    padding: 20px;
    max-width: 100%;
    p {
      margin-bottom: 5px;
    }
    .back {
      bottom: -20px;
      right: 20px;
    }
  }
  .book__description {
    padding: 10px;
  }
}
