.wrapper {
  width: 100%;
  padding-bottom: 50px;
  h2 {
    margin-bottom: 40px;
    margin-top: 20px;
  }
}

.block__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 100%;
  a {
    text-decoration: none;
  }
}

.item {
  position: relative;
  cursor: pointer;
  padding: 40px 20px 20px 20px;
  background-color: rgba(226, 226, 226, 0.5);
  height: 530px;
  transition: all 0.3s;
  border-radius: 3px;
  color: rgb(163, 163, 163);

  .lazy-load-image-background {
    margin-bottom: 50px;
    box-shadow: 6px 10px 15px 1px rgb(141, 141, 141);
    img {
      width: 100%;
      height: 100%;
    }
  }

  svg {
    margin-bottom: 50px;
    border-radius: 4px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 10px 1px rgb(172, 172, 172);
  }
}
.item__infoTitle {
  h6 {
    width: max-content;
    border-bottom: 1px solid black;
    text-align: start;
    line-height: 1.1rem;
    margin-bottom: 15px;
  }
  h5 {
    margin-bottom: 5px;
    text-align: start;
    color: black;
    font-weight: bold;
  }
  p {
    margin-bottom: 5px;
    text-align: start;
  }
}

@media (max-width: 1100px) {
  .block__items {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .block__items {
    grid-template-columns: 1fr 1fr;
    .item {
      padding: 40px 20px;

      img {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 548px) {
  .block__items {
    padding: 20px;
    gap: 20px;
  }
}

@media (max-width: 416px) {
  .wrapper {
    h2 {
      margin: 10px;
    }
  }
  .block__items {
    grid-template-columns: 1fr;
    .item {
      img {
        margin-bottom: 40px;
      }
    }
  }
}
