.select {
  display: flex;
  align-items: center;
  margin-left: 50px;
  width: 350px;
  p {
    margin: 0;
    margin-right: 20px;
    font-size: 20px;
  }
}
#dropdown-button-dark-example1::after {
  margin-left: 50px;
}

@media (max-width: 768px) {
  .select {
    width: 315px;
    margin-left: 10px;
  }
}
