.App-header {
  background-image: url('../../Images/the-7-best-books-to-improve-influencing-skills-2-scaled.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
  h1 {
    margin: 20px;
  }
}

.header__search {
  width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  input {
    font-size: 20px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
  }
  svg {
    cursor: pointer;
  }
}

.header__select {
  width: 50%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 1200px) {
  .header__select {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  .header__select {
    display: block;
    .select {
      justify-content: space-between;
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .header__search {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 568px) {
  .header__select {
    width: 100%;
  }
}
